{
    "additional-repositories": [],
    "archinstall-language": "English",
    "audio_config": {
        "audio": "pipewire"
    },
    "bootloader": "Grub",
    "config_version": "3.0.1",
    "disk_config": {
        "config_type": "default_layout",
        "device_modifications": [
            {
                "device": "/dev/sda",
                "partitions": [
                    {
                        "btrfs": [],
                        "dev_path": null,
                        "flags": [
                            "boot"
                        ],
                        "fs_type": "fat32",
                        "mount_options": [],
                        "mountpoint": "/boot",
                        "obj_id": "a3640f79-9d95-427e-a72a-6b50f6efcda9",
                        "size": {
                            "sector_size": {
                                "unit": "B",
                                "value": 512
                            },
                            "unit": "GiB",
                            "value": 1
                        },
                        "start": {
                            "sector_size": {
                                "unit": "B",
                                "value": 512
                            },
                            "unit": "MiB",
                            "value": 3
                        },
                        "status": "create",
                        "type": "primary"
                    },
                    {
                        "btrfs": [],
                        "dev_path": null,
                        "flags": [],
                        "fs_type": "ext4",
                        "mount_options": [],
                        "mountpoint": "/",
                        "obj_id": "36a1b3e2-6be8-426b-9fb7-5bdfa93c0102",
                        "size": {
                            "sector_size": {
                                "unit": "B",
                                "value": 512
                            },
                            "unit": "GiB",
                            "value": 32
                        },
                        "start": {
                            "sector_size": {
                                "unit": "B",
                                "value": 512
                            },
                            "unit": "B",
                            "value": 1076887552
                        },
                        "status": "create",
                        "type": "primary"
                    },
                    {
                        "btrfs": [],
                        "dev_path": null,
                        "flags": [],
                        "fs_type": "ext4",
                        "mount_options": [],
                        "mountpoint": "/home",
                        "obj_id": "b27e5540-4f51-4f39-852e-cbadc621f1d5",
                        "size": {
                            "sector_size": {
                                "unit": "B",
                                "value": 512
                            },
                            "unit": "B",
                            "value": 92599050240
                        },
                        "start": {
                            "sector_size": {
                                "unit": "B",
                                "value": 512
                            },
                            "unit": "B",
                            "value": 35436625920
                        },
                        "status": "create",
                        "type": "primary"
                    }
                ],
                "wipe": true
            }
        ]
    },
    "disk_encryption": null,
    "hostname": "HOSTNAME",
    "kernels": [
        "linux"
    ],
    "locale_config": {
        "kb_layout": "jp106",
        "sys_enc": "UTF-8",
        "sys_lang": "ja_JP.UTF-8"
    },
    "mirror_config": {
        "custom_mirrors": [],
        "mirror_regions": {
            "Japan": [
                {
                    "url": "http://ftp.jaist.ac.jp/pub/Linux/ArchLinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/jaist.ac.jp/259/",
                    "delay": 3221,
                    "last_sync": "2025-07-06T12:04:13Z",
                    "duration_avg": 1.5071054518692137,
                    "duration_stddev": 1.860290155586388,
                    "completion_pct": 0.9136690647482014,
                    "score": 5
                },
                {
                    "url": "https://ftp.jaist.ac.jp/pub/Linux/ArchLinux/",
                    "protocol": "https",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/jaist.ac.jp/1024/",
                    "delay": 3228,
                    "last_sync": "2025-07-06T12:04:13Z",
                    "duration_avg": 2.2448842906951905,
                    "duration_stddev": 2.649785927267287,
                    "completion_pct": 0.8928571428571429,
                    "score": 6
                },
                {
                    "url": "http://ftp.tsukuba.wide.ad.jp/Linux/archlinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/ftp.tsukuba.wide.ad.jp/403/",
                    "delay": 10970,
                    "last_sync": "2025-07-06T09:19:28Z",
                    "duration_avg": 0.8411613430295671,
                    "duration_stddev": 0.8494465239741271,
                    "completion_pct": 1.0,
                    "score": 5
                },
                {
                    "url": "http://jp.mirrors.cicku.me/archlinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/cicku.me/1991/",
                    "delay": 592,
                    "last_sync": "2025-07-06T13:26:34Z",
                    "duration_avg": 0.7042395455496652,
                    "duration_stddev": 0.8361710772604373,
                    "completion_pct": 1.0,
                    "score": 2
                },
                {
                    "url": "https://jp.mirrors.cicku.me/archlinux/",
                    "protocol": "https",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/cicku.me/1992/",
                    "delay": 608,
                    "last_sync": "2025-07-06T13:26:34Z",
                    "duration_avg": 0.940143540927342,
                    "duration_stddev": 0.38545669646667385,
                    "completion_pct": 1.0,
                    "score": 1
                },
                {
                    "url": "http://mirrors.cat.net/archlinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/cat.net/1168/",
                    "delay": 6587,
                    "last_sync": "2025-07-06T12:04:13Z",
                    "duration_avg": 0.5781716751537734,
                    "duration_stddev": 1.0751433699352069,
                    "completion_pct": 1.0,
                    "score": 3
                },
                {
                    "url": "https://mirrors.cat.net/archlinux/",
                    "protocol": "https",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/cat.net/1169/",
                    "delay": 6587,
                    "last_sync": "2025-07-06T12:04:13Z",
                    "duration_avg": 0.6684712626093583,
                    "duration_stddev": 0.5564075395706557,
                    "completion_pct": 1.0,
                    "score": 3
                },
                {
                    "url": "http://mirror.nishi.network/archlinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": false,
                    "details": "https://archlinux.org/mirrors/nishi.network/1941/",
                    "delay": 4957,
                    "last_sync": "2025-07-06T11:59:06Z",
                    "duration_avg": 1.0790860922105852,
                    "duration_stddev": 0.4745788435761474,
                    "completion_pct": 0.8051948051948052,
                    "score": 4
                },
                {
                    "url": "https://mirror.nishi.network/archlinux/",
                    "protocol": "https",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": false,
                    "details": "https://archlinux.org/mirrors/nishi.network/1942/",
                    "delay": 4957,
                    "last_sync": "2025-07-06T11:59:06Z",
                    "duration_avg": 0.6454825747397638,
                    "duration_stddev": 0.29872965975673776,
                    "completion_pct": 0.8051948051948052,
                    "score": 3
                },
                {
                    "url": "http://repo.jing.rocks/archlinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/jing.rocks/1957/",
                    "delay": 79,
                    "last_sync": "2025-07-06T13:36:00Z",
                    "duration_avg": 0.4661249484334673,
                    "duration_stddev": 0.27421624005166906,
                    "completion_pct": 1.0,
                    "score": 1
                },
                {
                    "url": "https://repo.jing.rocks/archlinux/",
                    "protocol": "https",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/jing.rocks/1958/",
                    "delay": 80,
                    "last_sync": "2025-07-06T13:34:00Z",
                    "duration_avg": 0.928779581614903,
                    "duration_stddev": 0.3195325898845235,
                    "completion_pct": 1.0,
                    "score": 1
                },
                {
                    "url": "http://www.miraa.jp/archlinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/miraa.jp/2074/",
                    "delay": 2386,
                    "last_sync": "2025-07-06T13:29:50Z",
                    "duration_avg": 0.9028543387140546,
                    "duration_stddev": 0.2401412349888469,
                    "completion_pct": 1.0,
                    "score": 2
                },
                {
                    "url": "https://www.miraa.jp/archlinux/",
                    "protocol": "https",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/miraa.jp/2075/",
                    "delay": 2386,
                    "last_sync": "2025-07-06T13:29:50Z",
                    "duration_avg": 1.157108896119254,
                    "duration_stddev": 1.0158623389071566,
                    "completion_pct": 1.0,
                    "score": 3
                },
                {
                    "url": "http://mirror.aria-on-the-planet.es/archlinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/aria-on-the-planet.es/2198/",
                    "delay": 5023,
                    "last_sync": "2025-07-06T12:29:53Z",
                    "duration_avg": 0.6455327721609585,
                    "duration_stddev": 0.7257882831096456,
                    "completion_pct": 0.9857142857142858,
                    "score": 3
                },
                {
                    "url": "https://mirror.aria-on-the-planet.es/archlinux/",
                    "protocol": "https",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/aria-on-the-planet.es/2199/",
                    "delay": 4998,
                    "last_sync": "2025-07-06T12:29:53Z",
                    "duration_avg": 1.00190461465042,
                    "duration_stddev": 1.6122105130527453,
                    "completion_pct": 0.9785714285714285,
                    "score": 4
                },
                {
                    "url": "http://mirror.hashy0917.net/archlinux/",
                    "protocol": "http",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/hashy0917.net/2210/",
                    "delay": 5283,
                    "last_sync": "2025-07-06T11:59:06Z",
                    "duration_avg": 0.5267432536397662,
                    "duration_stddev": 0.8968065173537185,
                    "completion_pct": 1.0,
                    "score": 3
                },
                {
                    "url": "https://mirror.hashy0917.net/archlinux/",
                    "protocol": "https",
                    "active": true,
                    "country": "Japan",
                    "country_code": "JP",
                    "isos": true,
                    "ipv4": true,
                    "ipv6": true,
                    "details": "https://archlinux.org/mirrors/hashy0917.net/2211/",
                    "delay": 5182,
                    "last_sync": "2025-07-06T11:59:06Z",
                    "duration_avg": 0.7093867378234864,
                    "duration_stddev": 0.9568814795877767,
                    "completion_pct": 0.8928571428571429,
                    "score": 3
                }
            ]
        }
    },
    "network_config": {
        "type": "iso"
    },
    "ntp": true,
    "packages": [
        "vim",
        "git",
        "otf-ipafont"
    ],
    "parallel downloads": 0,
    "profile_config": {
        "gfx_driver": "AMD / ATI (open-source)",
        "greeter": "lightdm-gtk-greeter",
        "profile": {
            "custom_settings": {
                "Xfce4": {}
            },
            "details": [
                "Xfce4"
            ],
            "main": "Desktop"
        }
    },
    "save_config": null,
    "swap": true,
    "timezone": "UTC",
    "uki": false,
    "version": "3.0.1"
}